html
{
width: 1200px;
margin: auto;
}
body
{
width: 992px;
flex-direction: column;
font-family: "Raleway";
font-size: large;
}
img
{
display: flex;
width: 200px;
height: 120px;
object-fit: cover;
}
header
{
display: flex;
width: 992px;
}
footer
{
background-color: #F2F2F2;
display: flex;
justify-content: space-around;
margin-top: 40px;
width: 992px;
text-align: left;
}
ul
{
padding-inline-start: 1px;
}
li
{
list-style-type: none;
}
a
{
text-decoration: none;
}
.logo
{
width: 100px;
height: 50px;
}
.btn1
{
margin-top: 20px;
margin-left: 650px;
height: 35px;
background-color: white;
border: none;
}
.btn2
{
margin-top: 20px;
margin-left: 50px;
height: 35px;
background-color: white;
border: none;
}
.n3
{
display: flex;
width: 992px;
}
.plein
{
color: grey;
}
.recherche
{
display: flex;
flex-direction: row;
border: solid 1px #F2F2F2;
margin-right: 714px;
border-radius: 15px 10px 10px 15px;
}
.logo_loc
{
width: 35px;
height: 25px;
background-color: #F2F2F2;
border-radius: 13px 0px 0px 13px;
padding: 5px;
}
.logo_loc>img
{
max-width: 30px;
max-height: 30px;
}
.rch
{
background-color: #0065FC;
border-radius: 0px 10px 10px 0px;
border: none;
color: white;
}
input[type="search"]
{
width: 229px;
}
.filtres
{
display: flex;
flex-direction: row;
margin-top: 15px;
margin-bottom: 10px;
padding-bottom: 1px;
padding-top: 1px;
margin-left: 20px;
margin-right: 10px;
padding-right: 15px;
}
.flt
{
font-size: 20px;
margin-top: 13px;
}
.bouton_filtre
{

display: flex;
border: solid 2px #F2F2F2;
border-radius: 50px 50px 50px 50px;
margin-right: 10px;
margin-left: 10px;
padding-right: 20px;
height: 50px;
border-radius: 100px;
}
.bouton_filtre:hover
{
background-color: #DEEBFF;
transition-property: all;
transition-duration:0.5s;
transition-timing-function:ease-in;
}
.texte_filtre
{
margin-left: 5px;
margin-top: 8px;
  display: inline-block;
margin: 0;
top: 15px;
position: relative;
padding-left: 7px;
}
.logo_rond
{
width: 30px;
height: 30px;
background-color: #F2F2F2;
border-radius: 70% 70% 70% 70%;
padding: 10px;
display: inline-block;
}
.logo_rond>img
{
max-height: 30px;
max-width: 30px;
}
.information
{
display: flex;
flex-direction: row;
}
.logo_i
{
width: 15px;
height: 15px;
margin-top: 16px;
border: solid 1px grey;
border-radius: 50px;
}
.plus
{
margin-left: 10px;
color: grey;
}
.aside1
{
display: flex;
flex-direction: column;
background-color: #F2F2F2;
margin-right: 15px;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px 20px 20px 20px;
}
#hebergement
{
margin-left: 13px;
}
.ligne1
{
display: flex;
flex-direction: row;
margin-bottom: 20px;
justify-content: space-around;
}
.canne
{
border-top-left-radius: 20px 20px;
border-top-right-radius: 20px 20px;
border-bottom-left-radius: 20px 20px;
border-bottom-right-radius: 20px 20px;
background-color: white;
margin-left: 5px;
margin-right: 5px;
padding-bottom: 10px;
padding-right: 2px;
padding-left: 2px;
padding-top: 2px;
}
.img_aside
{
border-top-left-radius: 20px 20px;
border-top-right-radius: 20px 20px;
}
.nom
{
font-weight: bold;
padding-left: 4px;
margin-top: 5px;
margin-bottom: 2px;
}
.prix
{
padding-left: 4px;
margin-top: 5px;
margin-bottom: 2px;
}
.etoile
{
display: flex;
margin-top: 5px;
}
.etoile_populaire
{
display: flex;
margin-top: 47px;
}
.etoile_populaire2
{
display: flex;
margin-top: 47px;
}
.etoile_bleu
{
width: 15px;
height: 15px;
}
.etoile_gris
{
width: 13px;
height: 13px;
margin-top: 1px;
margin-left: 1px;
}
.ligne2
{
display: flex;
flex-direction: row;
margin-bottom: 10px;
justify-content: space-around;
}
.afficher
{
margin-left: 13px;
}
.aside2
{
display: flex;
flex-direction: column;	
background-color: #F2F2F2;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px 20px 20px 20px;
}
.popu
{
margin-left: 10px;
}
.block_aside2
{
display: flex;
flex-direction: row;
margin-top: 10px;
margin-bottom: 10px;
padding-right: 6px;
background-color: white;
border-top-left-radius: 20px 20px;
border-top-right-radius: 20px 20px;
border-bottom-left-radius: 20px 20px;
border-bottom-right-radius: 20px 20px;
}
.img_popu
{
width: 120px;
height: 130px;
border-top-left-radius: 20px 20px;
border-bottom-left-radius: 20px 20px;
margin: 2px 0px 2px 2px;
}
.n4
{
width: 992px;
font-size: 20px;
margin-top: 50px;
margin-bottom: 20px;
margin-left: 15px;
}
.n5
{
display: flex;
flex-direction: row;
width: 992px;
}
.txt_img
{
	font-weight: bold;
margin-top: 10px;
padding-left: 5px;
}
.block1
{
height: 370px;
width: 235px;
border-radius: 5% 5% 0% 0%;
margin-left: 5px;
margin-right: 20px;
box-shadow: 0px 10px 10px 0px grey;
border-radius: 10px 10px 10px 10px;
}
.block2
{
width: 235px;
margin-right: 15px;
}
.img_big
{
width: 235px;
height: 325px;
border-radius: 10px 10px 0px 0px;
}
.block2_1
{
height: 155px;
width: 235px;
margin-bottom: 20px;
padding-bottom: 20px;
box-shadow: 0px 10px 10px 0px grey;
border-radius: 10px 10px 10px 10px;
}
.img_small
{
width: 235px;
height: 130px;
border-radius: 10px 10px 0px 0px;
}
.block2_2
{
height: 155px;
width: 235px;
padding-bottom: 20px;
box-shadow: 0px 10px 10px 0px grey;
border-radius: 10px 10px 10px 10px;
}
.block2_3
{
height: 155px;
margin-bottom: 20px;
box-shadow: 0px 10px 10px 0px grey;
border-radius: 10px 10px 10px 10px;
padding-bottom: 20px;
}
.block2_4
{
height: 155px;
box-shadow: 0px 10px 10px 0px grey;
border-radius: 10px 10px 10px 10px;
padding-bottom: 20px;
}
.n6
{
font-size: 15px;
}
