html
{
margin: 0;
padding: 0;
}
body
{
margin: auto;
width: 1200px;
flex-direction: column;
font-family: "Raleway", sans-serif;
}
img
{
width: 220px;
height: 110px;
object-fit: cover; 
}
header
{
display: block;
position: relative;
height: 79px;
width: 100%;
}
                /* HEADER */
a
{
text-decoration: none;
font-family: "Raleway";
}
.logo
{
width: 100px;
height: 50px;
margin-top: 15px;
margin-left: 10px;
}
.bouton_bleu
{
margin-left: 532px;
}
.bouton
{
background-color: white;
border: none;
}
.btn1
{
display: inline-block;
margin: 0 0% 0 70%;
padding: 50px 0 0 0;
border-top: 2px solid blue;
}
.btn2
{
margin-left: 70px;
}
                    /* NAV */
.plein
{
font-size: 14px;
margin-top: -8px;
color: black;
}
.recherche
{
display: flex;
border: solid 1px #F2F2F2;
border-radius: 15px 15px 15px 15px;
margin-right: 898px;
}
.logo_loc
{
background-color: #F2F2F2;
border-radius: 15px 0px 0px 15px;
padding: 9px;
}
i 
{
color: #0065FC;
}
.fa-map-marker-alt
{
color: black;
}
.rch
{
background-color: #0065FC;
border-radius: 0px 15px 15px 0px;
border: none;
color: white;
font-weight: bold;
}
input[type="search"]
{
width: 200px;
font-size: 18px;
font-family: "Raleway";
}
.filtres
{
display: flex;
flex-direction: row;
margin-top: 15px;
padding-bottom: 1px;
padding-top: 1px;
flex-wrap: wrap;
font-size: 15px;
}
.flt
{
font-size: 20px;
margin-top: 13px;
color: black;
font-weight: bold;
margin-right: 20px;
}
.bouton_filtre
{
display: flex;
border: solid 2px #F2F2F2;
margin-right: 20px;
padding-right: 15px;
height: auto;
border-radius: 100px;
margin-top: 4px;
}
.bouton_filtre:hover
{
background-color: #DEEBFF;
transition-property: all;
transition-duration:0.5s;
transition-timing-function:ease-in;
}
.texte_filtre
{
margin-left: 5px;
margin-top: 8px;
display: inline-block;
margin: 0;
padding-top: 12px;
position: relative;
padding-left: 7px;
color: black;
font-weight: bolder;
}
.logo_rond
{
width: 20px;
height: 20px;
background-color: #F2F2F2;
border-radius: 70% 70% 70% 70%;
padding: 10px;
display: inline-block;
}
.logo_rond>img
{
max-height: 20px;
max-width: 20px;
}
.information
{
display: flex;
flex-direction: row;
font-size: 13px;
}
.logo_i
{
width: 15px;
height: 15px;
margin-top: 11px;
border: solid 1px grey;
border-radius: 50px;
}
.plus
{
margin-left: 10px;
margin-bottom: 35px;
}

                    /* SECTION HEBERGEMENT*/ 
                    
.section_hebergement
{
display: flex;
width: auto;
}
h1
{
margin: 15px;
}
.hebergements
{
display: flex;
flex-direction: column;
background-color: #F2F2F2;
padding: 15px;
border-radius: 20px 20px 20px 20px;
}
.block_hebergement
{
display: flex;
flex-direction: row;
justify-content: space-around;
padding-bottom: 10px;
}
.canne
{
background-color: white;
margin: 15px;
padding: 4px 4px 0px 4px;
}
.border
{
border-top-left-radius: 22px 22px;
border-top-right-radius: 22px 22px;
border-bottom-left-radius: 22px 22px;
border-bottom-right-radius: 22px 22px;
}
.img_aside
{
border-top-left-radius: 20px 20px;
border-top-right-radius: 20px 20px;
}
.nom
{
padding-left: 10px;
margin-top: 5px;
margin-bottom: 2px;
margin-right: 5px;
font-size: 15px;
font-weight: bolder;
color: black;
}
.prix
{
padding-left: 10px;
margin-top: 5px;
font-size: 14px;
color: black;
}
.groupe_etoile
{
display: flex;
margin-left: 8px;
margin-top: -5px;
margin-bottom: 8px;
}
.fa-star
{
font-size: 12px;
}
.afficher
{
margin: 15px;
font-weight: bold;
color: black;
}
                /* ASIDE */

.plus_populaires
{
margin-left: 35px;  
}
.popu
{
margin: 15px;
font-size: 22px;
}
.block_aside
{
display: flex;
flex-direction: row;
margin: 15px;
padding-right: 6px;
background-color: white;
}
.etoile_populaire
{
display: flex;
margin-left: 10px;
margin-top: 45px;
}
.etoile_grise
{
color: #dddbdb;
}
.hotel_populaires
{
display: flex;
flex-direction: column;
}
.img_popu
{
width: 120px;
height: 130px;
border-top-left-radius: 19px 19px;
border-bottom-left-radius: 19px 19px;
margin: 4px 0px 0px 4px;
}
.logo_populaire
{
float: right;
margin-right: 10px;
width: 20px;
height: 20px;
}
                /* SECTION ACTIVITES */

.activites
{
display: flex;
justify-content: space-between;
}
.titre_activites
{
margin-left: 5px;
margin-top: 50px;
}
.shadow
{
box-shadow: 0px 10px 10px 0px grey;
padding-bottom: 1px;
}
.image
{
width: 285px;
border-top-left-radius: 19px 19px;
border-top-right-radius: 19px 19px;
}
.image_grande
{
height: 302px;
}
.txt_img
{
margin-top: 10px;
padding-left: 5px;
font-weight: bold;
font-size: 17px;
color: black;
}
#activite_2, #activite_5
{
margin-bottom: 30px;
}
                /* FOOTER */

footer
{
background-color: #F2F2F2;
display: flex;
justify-content: space-around;
margin-top: 50px;
}
.propos 
{
margin-left: 10px;
}
li
{
list-style-type: none;
margin-right: 170px;
}
ul
{
padding-inline-start: 1px;
font-size: 15px;
}
                /* MEDIA QUERIES TABLETTE*/
@media screen and (max-width:1200px) {
body
{
width: 800px;
margin: 0px 5px 0px 5px;
}
.bouton_bleu
{
margin-left: 255px;
}
.btn1
{
margin: 0% 0% 0% 50%;
}
.recherche
{
margin-right: 777px;
}
.header
{
margin-left: 427px;
}
.section_hebergement
{
flex-direction: column;
}
.hebergements
{
padding: 0px;
}
.plus_populaires
{
margin: 10px 0px 10px 0px;
}
.block_aside
{
width: 268px;
margin-right: 7px;
}
.hotel_populaires
{
display: flex;
flex-direction: row;
}
.popu
{
font-size: 26px;
}
.img_popu
{
height: 116px;
width: 84px;
}
.titre_activites
{
font-size: 27px;
margin: 25px 0px 15px 15px;
}
.activites
{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
#activite_3
{
margin-bottom: 30px;
}
.image_grande
{
height: 110px;
}
li
{
margin-right: 0px;
}
}
                /* MEDIA QUERIES SMARTPHONE*/
@media screen and (max-width: 800px) {
body
{
width: 403px;
}
.logo
{
margin-left: 134px;
width: 175px;
height: 70px;
margin-bottom: 20px;
}
.afficher
{
margin-left: 4px;
font-size: 17px;
}
nav
{
margin-top: 100px;
}
.bouton
{
justify-content:space-evenly ;
}
.btn1
{
padding-top: 0;
border-top: 0;
border-bottom: #0065FC 2px solid;
}
.section_hebergement
{
width: auto;
flex-direction: column-reverse;
}
.block_hebergement
{
flex-direction: column;
}
img
{
width: 337px;
}
.hebergements
{
background-color: white;
border-radius: 0;
}
.canne
{
margin-bottom: 10px;
}
.afficher
{
margin-left: 20px;
font-size: large;
margin-top: 5px;
}
.txt_img
{
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
}
.block_aside
{
width: 356px;
}
.plus_populaires
{
background-color: #F2F2F2;;
}
.hotel_populaires
{
flex-direction: column;
}
.shadow_smartphone
{
box-shadow: 0px 10px 10px 0px grey;
padding-bottom: 1px;
}
img
{
width: 365px;
}
.img_popu
{
width: 150px;
height: 130px;
}
.img_big
{
width: 365px;
height: 130px;
}
.etoile2
{
margin-top: 65px;
}
.image_grande
{
width: 365px;
}
#activite_2, #activite_5
{
margin-top: 30px;
}
.image
{
width: 365px;
}
footer
{
flex-direction: column;
width: auto;
padding-bottom: 25px;
}
li
{
margin-left: 20px;
}
.propos
{
margin-left: 20px;
}
}