html
{
width: 992px;
margin: auto;
}
body
{
width: auto;
flex-direction: column;
font-family: "Raleway", sans-serif;
font-size: large;
}
img
{
display: flex;
width: 200px;
height: 120px;
object-fit: cover; 
}
header
{
display: flex;
}
h1
{
font-size: 18px;
}
h2
{
font-size: 18px;
}
                /* HEADER */
.surlignement_bleu
{
height: 2px;
width: 130px;
background-color: #0065FC;
margin-left: 105px;
}
.surlignement_gris
{
height: 2px;
width: 130px;
}
a
{
text-decoration: none;
font-family: "Raleway";
}
.logo
{
width: 100px;
height: 50px;
}
.bouton_bleu
{
margin-left: 532px;
}
.bouton
{
display: flex;
margin-top: 20px;
height: 35px;
background-color: white;
border: none;
}
.btn2
{
margin-left: 30px;
}
.btn1
{
margin-left: 50%;
}

                    /* NAV */
.plein
{
font-size: 14px;
margin-top: -8px;
color: black;
}
.recherche
{
display: flex;
border: solid 1px #F2F2F2;
border-radius: 15px 15px 15px 15px;
margin-right: 680px;
}
.logo_loc
{
background-color: #F2F2F2;
border-radius: 15px 0px 0px 15px;
padding: 8px;
}
i 
{
color: #0065FC;
}
.fa-map-marker-alt
{
color: black;
}
.rch
{
background-color: #0065FC;
border-radius: 0px 15px 15px 0px;
border: none;
color: white;
}
input[type="search"]
{
width: 229px;
font-size: 18px;
font-family: "Raleway";
}
.filtres
{
display: flex;
flex-direction: row;
margin-top: 15px;
padding-bottom: 1px;
padding-top: 1px;
flex-wrap: wrap;
font-size: 15px;
}
.flt
{
font-size: 20px;
margin-top: 13px;
color: black;
font-weight: bold;
}
.bouton_filtre
{
display: flex;
border: solid 2px #F2F2F2;
margin-left: 10px;
padding-right: 10px;
height: auto;
border-radius: 100px;
margin-top: 4px;
}
.bouton_filtre:hover
{
background-color: #DEEBFF;
transition-property: all;
transition-duration:0.5s;
transition-timing-function:ease-in;
}
.texte_filtre
{
margin-left: 5px;
margin-top: 8px;
display: inline-block;
margin: 0;
padding-top: 12px;
position: relative;
padding-left: 7px;
color: black;
font-weight: bolder;
}
.logo_rond
{
width: 20px;
height: 20px;
background-color: #F2F2F2;
border-radius: 70% 70% 70% 70%;
padding: 10px;
display: inline-block;
}
.logo_rond>img
{
max-height: 20px;
max-width: 20px;
}
.information
{
display: flex;
flex-direction: row;
font-size: 13px;
}
.logo_i
{
width: 15px;
height: 15px;
margin-top: 11px;
border: solid 1px grey;
border-radius: 50px;
}
.plus
{
margin-left: 10px;
color: grey;
margin-bottom: 35px;
}

                    /* SECTION HEBERGEMENT*/ 
                    
.section_hebergement
{
display: flex;
width: auto;
}
.hebergements
{
display: flex;
flex-direction: column;
background-color: #F2F2F2;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px 20px 20px 20px;
}
#hebergement
{
margin-left: 13px;
}
.block_hebergement
{
display: flex;
flex-direction: row;
justify-content: space-around;
padding-bottom: 10px;
}
.canne
{
background-color: white;
margin-left: 5px;
margin-right: 5px;
padding: 4px 4px 0px 4px;
}
.border
{
border-top-left-radius: 22px 22px;
border-top-right-radius: 22px 22px;
border-bottom-left-radius: 22px 22px;
border-bottom-right-radius: 22px 22px;
}
.img_aside
{
border-top-left-radius: 20px 20px;
border-top-right-radius: 20px 20px;
}
.nom
{
padding-left: 10px;
margin-top: 5px;
margin-bottom: 2px;
margin-right: 5px;
font-size: 15px;
font-weight: bolder;
color: black;
}
.prix
{
padding-left: 10px;
margin-top: 5px;
font-size: 14px;
}
.groupe_etoile
{
display: flex;
margin-left: 8px;
margin-top: -5px;
margin-bottom: 8px;
}
.fa-star
{
    font-size: 12px;
}
.afficher
{
margin-left: 13px;
font-weight: bold;
color: black;
}
                /* ASIDE */

.plus_populaires
{
margin-left: 10px;  
}
.popu
{
margin-left: 10px;
}
.block_aside2
{
display: flex;
flex-direction: row;
margin-top: 10px;
margin-bottom: 10px;
padding-right: 6px;
background-color: white;
}
.etoile_populaire
{
display: flex;
margin-left: 10px;
margin-top: 45px;
}
.etoile_grise
{
    color: #dddbdb;
}
.img_popu
{
width: 120px;
height: 130px;
border-top-left-radius: 19px 19px;
border-bottom-left-radius: 19px 19px;
margin: 4px 0px 4px 4px;
}
.logo_populaire
{
float: right;
margin-right: 10px;
width: 20px;
height: 20px;
}
                /* SECTION ACTIVITES */

.activites
{
display: flex;
justify-content: space-between;
}
.titre_activites
{
margin-left: 5px;
margin-top: 25px;
}
.shadow
{
box-shadow: 0px 10px 10px 0px grey;
padding-bottom: 1px;
}
.image
{
width: 235px;
border-top-left-radius: 19px 19px;
border-top-right-radius: 19px 19px;
}
.image_grande
{
height: 315px;
}
.txt_img
{
margin-top: 10px;
padding-left: 5px;
font-weight: bold;
font-size: 17px;
color: black;
}
#activite_2, #activite_5
{
margin-bottom: 30px;
}
                /* FOOTER */

footer
{
background-color: #F2F2F2;
display: flex;
justify-content: space-around;
margin-top: 40px;
text-align: left;
}
.propos 
{
    margin-left: -50px;
}
li
{
list-style-type: none;
}
ul
{
padding-inline-start: 1px;
font-size: 15px;
}
                /* MEDIA QUERIES TABLETTE*/
@media screen and (max-width:992px) {
    body{
        width: 768px;
    }
                /* HEADER */
    .bouton_bleu{
        margin-left: 255px;
    }
    .surlignement_bleu{
        margin-left: 109px;
    }
    .header{
        margin-left: 427px;
    }
                /* NAV */
    .filtres{
        padding-bottom: 0px;
    }
    .bouton_filtre{
        margin-top: 10px;
    }
    .filtre_romantique{
        margin-top: 10px;
    }
    .filtre_economique{
        margin-left: 27px;
    }
    .filtre_animaux{
        margin-top: 10px;
    }
                /* SECTION HEBERGEMENT*/
    .section_hebergement{
        flex-direction: column-reverse;
        width: 700px;
    }
    .hebergements{
        margin-bottom: 20px;
    }
                /* ASIDE */
    .img_popu{
        width: 350px;
    }
    .etoile_populaire{
        margin-top: 70px;
    }
                /* SECTION ACTIVITES */
    .activites{
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5px;
        margin-right: 5px;
    }
    .image{
        width: 350px;
        height: 100px;
    }
    .shadow{
        height: 140px;
        width: 350px;
        margin-bottom: 25px;
    }
    *{
        outline: dashed red 1px;
    }
                /* FOOTER */
    footer{
    width: 700px;
    }
}
                /* MEDIA QUERIES SMARTPHONE*/
    @media (max-width: 768px) {
body{
    width: 375px;
}
                /* HEADER */
.header{
    display: none;
}
header{
    flex-wrap: wrap;
}
.btn1{
    margin-left: 10px;
}
.logo{
    width: 70%;
    height: 70%;
    margin: auto;
}
a{
    margin-left: 50px;
}
                /* NAV */
.n2{
    flex-direction: column;
    width: auto;
}
.afficher{
    margin-left: 4px;
    font-size: 17px;
}
                /* SECTION */
.n4{
    margin-top: 20px;
}
.n3{
    flex-direction: column-reverse;
    width: auto;
}
.canne{
    box-shadow: 0px 10px 10px 0px grey;
    width: 366px;
    margin-bottom: 25px;
}
.filtres{
    flex-direction: column;
}
                /* ASIDE */
.txt_img{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.img_popu{
    width: 125px;
}
                /* ARTICLE */
.img_big{
    width: 365px;
    height: 130px;
}
.img_small{
    width: 365px;
    height: 130px;
}
                /* FOOTER */
footer{
    flex-direction: column;
    width: auto;
}
}