@media (max-width: 992px) {
    body{
        width: 700px;
    }
                /* HEADER */
    .btn1{
        margin-left: 335px;
    }
    .header{
        margin-left: 427px;
    }
                /* NAV */
    .n2{
        width: 700px;
    }
    .filtre_romantique{
        margin-left: 85px;
        margin-top: 10px;
    }
    .filtre_economique{
        margin-left: 27px;
    }
    .filtre_animaux{
        margin-top: 10px;
    }
                /* SECTION */
    .n3{
        flex-direction: column;
        width: 700px;
    }
    .nom{
        margin-left: 5px;
    }
    .prix{
        margin-left: 5px;
    }
                /* ASIDE */
    .img_popu{
        width: 350px;
    }
    .aside2{
        margin-top: 20px;
        width: 665px;
    }
    .aside_populaire{
        margin-top: 20px;
        margin-left: 0px;
    }
    .etoile_populaire{
        margin-left: 10px;
    }
                /* ARTICLE */
    .n5{
        width: 700px;;
    }
    .img_big{
        width: 235px;
        height: 130px;
    }
    .block1{
        height: 175px;
        width: 300px;
    }
                /* FOOTER */
    footer{
    width: 700px;
    }
}